<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Servlet Login -->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.control.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet Logout -->
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.control.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet ManageTicket -->
    <servlet>
        <servlet-name>manageTicket</servlet-name>
        <servlet-class>com.control.ServletManageTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manageTicket</servlet-name>
        <url-pattern>/manageTicket</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet SearchTicket -->
    <servlet>
        <servlet-name>searchTicket</servlet-name>
        <servlet-class>com.control.ServletSearchTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchTicket</servlet-name>
        <url-pattern>/searchTicket</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>noCacheFilter</filter-name>
        <filter-class>com.control.NoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
